/* Normals */

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/900.otf') format('truetype');
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/800.otf') format('truetype');
	font-weight: 800;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/700.otf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/600.otf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/500.otf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/400.otf') format('truetype');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/300.otf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/200.otf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/100.otf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

/* Italics */

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/900i.otf') format('truetype');
	font-weight: 900;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/800i.otf') format('truetype');
	font-weight: 800;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/700i.otf') format('truetype');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/600i.otf') format('truetype');
	font-weight: 600;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/500i.otf') format('truetype');
	font-weight: 500;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/400i.otf') format('truetype');
	font-weight: 400;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/300i.otf') format('truetype');
	font-weight: 300;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/200i.otf') format('truetype');
	font-weight: 200;
	font-style: italic;
}

@font-face {
	font-family: 'ProximaNova';
	src: url('/typefaces/ProximaNova/100i.otf') format('truetype');
	font-weight: 100;
	font-style: italic;
}
