button{
    font-family: 'Bahnschrift';
    background: #FE8D13;
    border: none;
    padding: 10px 12px 8px 12px;
    border-radius: 4px;
    
    font-family: 'Bahnschrift';
    font-size: 18px;
    color: white;
}
button:focus{
    outline: none;
}
button:hover{
    background: #e47b0b;
}


.fixedfull{
    pointer-events: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}