button{
    font-family: 'Bahnschrift';
    background: #FF5B14;
    border: none;
    padding: 10px 12px 8px 12px;
    border-radius: 4px;

    font-family: 'Bahnschrift';
    font-size: 18px;
    color: white;
}
button:focus{
    outline: none;
}
button:hover{
    box-shadow: inset 0 0 0 2px rgba(0,0,0,0.25);
}